body {
    margin: 0;
    background-color: purple;
    background-image: linear-gradient(#FD80A8, #FCCE42);
    padding: 100px 80px 50px 80px;
}
.header
{
    text-align: center;
}
.copya
{
    border: 3px solid purple;
    background-color: rgb(255, 255, 255);
    padding: 10px 40px 20px 40px;
    margin: 0 auto;
    margin-bottom: 1em;
}
h3{
    text-align: center;
}
img{
    max-width: 20%;
    height: auto;
    position: relative;
    top: 50%;
    left: 40%;
}
.tablink {
    background-color: #233;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1vw;
    width: 33.33%;
}
.tablink:hover {
    background-color: #777;
}
.tabcontent {
    color: white;
    display: none;
    padding: 50px 20px;
    height: 50%;
}



#div1 {background-color: red;}
#div2 {background-color: #f2f23e;}
#div3 {background-color: #49d304;}

#doimua{
    position: absolute;
}
h3{
    color: rgb(44, 38, 29);
}

